@use '../variables' as *;

.book-info {
  padding: $spacer;
  min-height: 100vh;

  &__main {
    display: grid;
    grid-template: repeat(4, auto) / max-content auto;
    grid-template-areas: 'img header' 'img desc' 'img info' 'img footer';
    gap: $spacer;
  }
  &__img {
    grid-area: img;
    object-fit: contain;
    border: 1px solid rgba($dark-200, 0.75);
    padding: $spacer * 2 $spacer * 2.75;
    height: auto;
    width: auto;
    max-width: 250px;
    border-radius: 3px;
  }
  &__header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;
    font-weight: 500;

    h1 {
      font-size: 1.5rem;
    }
    p {
      color: $purple-100;
    }
  }
  &__description {
    grid-area: desc;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;

    h2 {
      font-weight: 500;
      font-size: 1.125rem;
      text-transform: capitalize;
      margin-bottom: $spacer * 0.5;
    }
    .reviews {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 1.125rem;
      font-weight: 500;
      gap: $spacer * 0.5;
      margin-bottom: $spacer;

      p:first-child {
        color: $purple-100;
      }

      div {
        display: flex;
        align-items: center;
      }
    }
  }
  &__about {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: capitalize;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;

    li {
      p:last-child {
        font-size: 0.95rem;
        margin-top: $spacer * 0.35;
      }
    }
  }
  &__cta {
    grid-area: footer;
    display: flex;
    align-items: center;
    gap: $spacer;
  }
  &__author {
    display: flex;
    align-items: flex-start;
    gap: $spacer * 5;
    border-top: 1px solid $gray-50;
    margin-top: $spacer * 3;
    padding-top: $spacer * 2;
    text-transform: capitalize;

    .author-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    div:first-child {
      display: flex;
      align-items: center;
      gap: $spacer * 0.5;

      p {
        font-weight: 500;
      }
    }
    div:not(:first-child) {
      p:first-child {
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: $spacer * 0.5;
      }
      .email {
        text-transform: lowercase;
      }
    }
    a {
      text-decoration: none;
      display: block;
      margin-left: auto;
      cursor: pointer;
      color: $dark-200;
      border: 1px solid $gray-200;
      padding: 0.75em 1.1em;
      border-radius: 3px;
      font-weight: 500;
    }
  }
}
