@use '../variables' as *;

.book-info {
  padding: $spacer;
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $spacer;
    margin-bottom: $spacer * 2.5;
    border-bottom: 1px solid $gray-50;

    img {
      aspect-ratio: 27 / 14;
      object-fit: contain;
      width: 100px;
      height: auto;
    }
    div {
      display: flex;
      align-items: center;
      gap: $spacer * 2;

      a {
        color: $dark-200;
        text-transform: capitalize;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
  &__main {
    display: grid;
    grid-template: repeat(4, auto) / max-content auto;
    grid-template-areas: 'img header' 'img desc' 'img info' 'img footer';
    gap: $spacer;
  }
  &__img {
    grid-area: img;
    object-fit: contain;
    box-shadow: 0px 0px 2px 1px rgba($dark-200, 0.1);
    background-image: linear-gradient(
      to bottom,
      rgba($purple-100, 0.1),
      transparent 70%,
      transparent
    );
    padding: $spacer * 2 $spacer * 2.75;
    height: auto;
    width: auto;
    max-width: 250px;
    border-radius: 3px;
  }
  &__main-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;
    font-weight: 500;

    h1 {
      font-size: 1.5rem;
    }
    p {
      color: $purple-100;
    }
  }
  &__description {
    grid-area: desc;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;

    h2 {
      font-weight: 500;
      font-size: 1.125rem;
      text-transform: capitalize;
      margin-bottom: $spacer * 0.5;
    }
    .reviews {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 1.125rem;
      font-weight: 500;
      gap: $spacer * 0.25;
      margin-bottom: $spacer;

      p {
        font-size: 0.95rem;
        &:first-child {
          color: $purple-100;
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: $spacer * 0.2;
        margin-right: $spacer * 0.4;

        svg {
          width: 18px;
        }
      }
    }
  }
  &__about {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: capitalize;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-50;

    li {
      p:last-child {
        font-size: 0.95rem;
        margin-top: $spacer * 0.35;
      }
    }
  }
  &__cta {
    grid-area: footer;
    display: flex;
    align-items: center;
    gap: $spacer;
  }
  &__author {
    display: flex;
    align-items: flex-start;
    gap: $spacer * 5;
    border-top: 1px solid $gray-50;
    margin-top: $spacer * 3;
    padding-top: $spacer * 2;
    text-transform: capitalize;

    .author-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    div:first-child {
      display: flex;
      align-items: center;
      gap: $spacer * 0.5;

      p {
        font-weight: 500;
      }
    }
    div:not(:first-child) {
      p:first-child {
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: $spacer * 0.5;
      }
      .email {
        text-transform: lowercase;
      }
    }
    a {
      text-decoration: none;
      display: block;
      margin-left: auto;
      cursor: pointer;
      color: $dark-200;
      border: 1px solid $gray-200;
      padding: 0.75em 1.1em;
      border-radius: 3px;
      font-weight: 500;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-200;
    margin-top: $spacer * 4;
    padding-top: $spacer;
    border-top: 1px solid $gray-50;

    img {
      aspect-ratio: 27 / 14;
      object-fit: contain;
      width: 80px;
      height: auto;
    }
    div {
      display: flex;
      align-items: center;
      gap: $spacer;

      &:first-child {
        p {
          font-style: italic;
        }
      }
      &:nth-child(2) {
        text-transform: capitalize;
        gap: $spacer * 1.5;
      }
    }
  }
}
