@use '../variables' as *;

.homepage {
  .cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacer;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacer * 2;

    h1 {
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    a {
      text-decoration: none;
      color: #ffffff;

      button {
        display: flex;
        align-items: center;
        gap: $spacer * 0.5;
        padding: 0.75em 1em;
        cursor: pointer;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: $blue-200;
        border-radius: 4px;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacer;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: $spacer * 0.7;

      li {
        cursor: pointer;

        &.active {
          background-color: $gray-50;
          color: $dark-200;
          border-radius: 4px;
        }
      }
    }
    .homepage__tabs {
      gap: $spacer * 2;
      color: $dark-100;
      font-weight: 600;
      text-transform: capitalize;

      li {
        padding: 0.25em 1em;
      }
    }
    .homepage__layout {
      li {
        padding: 0.25em;
        display: grid;
        place-content: center;
      }
    }
  }
}
